.parentDiv{
    display: flex;
    border: solid 15px green;
    flex-flow: column wrap;
    margin: auto;
    width: auto;
    height: 500px;
    /* padding: 10px; */
    /* align-items: center; */
    align-content: center;
    /* column-gap: 8px; */
}
.gridSection{
       text-align: center;
    /* margin: 50px; */
    font-size: 2rem;
    height: 50px;
    width: 50px;
    padding:25px;
    background-color: yellow;
    border: solid 2px blue;
    flex-grow: 1;
    /* gap: 16px; */
}